.not-found {
  background-color: #f5f6f7;
  max-width: 100%;
  width: 100%;
}

.not-found__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 356px;
  margin: 80px auto 80px;
  background-color: #f5f6f7;
}

.not-found__icon {
  width: 96px;
  height: 96px;
  background-image: url(../../images/not-found.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.not-found__title {
  font-family: Roboto Slab, Arial, sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  margin: 86px auto 80px;
}

.not-found__paragraph {
  font-family: Roboto, Arial, sans-serif;
  color: #B6BCBF;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-top: 16px;
  max-width: 340px;
}

@media screen and (max-width: 1400px) {
  .not-found {
    margin-top: 75px;
  }
}

@media screen and (max-width: 768px) {
  .not-found {
    margin-top: 107px;
  }
}

@media screen and (max-width: 600px) {
  .not-found {
    margin-top: 0;
  }
}