.newsCardList {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    background-color: #f5f6f7;
    padding: 80px 104px;
}

.newsCardList__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1232px;
}

.newsCardList__title {
    font-family: Roboto Slab, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1a1b22;
    margin: 0;
    padding-bottom: 64px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.newsCardList__show {
    width: 288px;
    height: 64px;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    align-self: center;
    background-color: white;
    border: none;
    border-radius: 50px;
    margin-top: 64px;
}

.newsCardList__show:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .newsCardList {
        padding: 40px;
    }
    .newsCardList__title {
        padding-bottom: 32px;
    }
    .newsCardList__show {
        height: 56px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 400px) {
    .newsCardList {
        padding: 32px 16px;
    }
    .newsCardList__container {
        max-width: 280px;
    }
    .newsCardList__title {
        font-size: 30px;
        line-height: 34px;
        padding-bottom: 24px;
    }
    .newsCardList__show {
        margin-bottom: 32px;
    }
}